#line-numbers {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 50px;
    text-align: center;
    color: #bbb;
}

.line-number {
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
}

#text-editor {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 100%;
}

#editor {
    position: absolute;
    left: 1px;
}

.view-line {
    height: 19px;
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
}

#cursor {
    resize: none;
    height: 19px;
    border-color: #ffcc00;
    background-color: #ffcc00;
    height: 19px;
    width: 1.6px;
    position: absolute;
}
